@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: #ededed;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.color-pick {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

input::-webkit-color-swatch {
    border: none;
}

.color-input {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #a52a2a 0% 0% no-repeat padding-box;

}

button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    transition: ease 0.09s;
}

button:hover {
    transform: scale(1.1);
}

.selected {
    background-color: #333333;
    color: white;
    border: none;
}

.range-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-input {
    width: 150px;
}

.sketch-panel h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.drawing-tablet {
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}